.backdrop{
    background-color: rgba(0, 0, 0, 0.418);
    height: 100vh;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    /*z-index: 1;*/
}

.modal{
    border: none;
    overflow:hidden;
    z-index: 1;
    margin: 0 auto;
    position: fixed;

    padding: 2%;
    max-width: 20%;

    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.322);
    border-radius: 25px;
}